.sphere-footer {
    background-color: black;
    color: #fab555;
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    flex-wrap: wrap;
    gap: 2rem;

    .footer-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
            text-decoration: none;
        }

        .navbar-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .footer-logo {
                height: 100px;
                // width: auto;
                margin-bottom: 0.75rem;
            }

            .footer-lab-name {
                font-size: 1.75rem;
                font-weight: 800;
                color: #ba9a74;
            }
        }

        
    }

    .footer-center {
        flex: 1;
        text-align: center;
        h4 {
            font-size: 2.0rem;
            margin-bottom: 0.5rem;
            color: #fab555;
        }

        p {
            font-size: 0.95rem;
            line-height: 1.5;
        }
    }

    .footer-right {
        flex: 1;

        h4 {
            font-size: 2.0rem;
            margin-bottom: 0.5rem;
            color: #fab555;
            text-align: center;
        }

        .quick-links {
            display: flex;
            gap: 2rem;
            justify-content: center;
            margin-top: 1rem;
            // justify-content: space-between;

            a {
                display: block;
                color: #fab555;
                font-size: 0.95rem;
                margin-bottom: 0.5rem;
                text-decoration: none;

                &:hover {
                    color: #ba9a74;
                }
            }
        }
    }
}